@page "/"

<PageTitle>Moogle!</PageTitle>

<h1 class="Title Title">🔍 Moogle!</h1>

<input class="p-1 my-4" @bind="query" placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion suggestion">
        <p>¿Quisiste decir <strong><a href="#" @onclick = "ReSearch">@result.Suggestion</a></strong>?</p>
    </div>
}

@if(!Egine.Initialized){
    Egine.Init();
}

<ul class="results">
@foreach (var item in result.Items()) {
    @if(item!=null)
    {
        <li>
            <div class="item item" >
                <p class="title title">@item.Title</p>
                <p class="snippet snippet">... @item.Snippet ...</p>
            </div>
        </li>
    }
}
</ul>

@code {
    private string query = "";
    private string alternative="";
    private string text="";
    private SearchResult result = new SearchResult();

    private void RunQuery() {
        Console.WriteLine(query);
        result = Moogle.Query(query);
        if(!string.IsNullOrEmpty(result.Suggestion))
            alternative=result.Suggestion;
    }
    private void ReSearch()
    {
        query=alternative;
        result=Moogle.Query(result.Suggestion);
    }
}
